*,
*:before, 
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    
    color: #fff;
    background: #ccc url("../images/back.jpg") center no-repeat;
    background-size: cover;
}
    font-family: 'Jura', sans-serif;
}

h1 {
    margin: 0;
}


/* Page */

.page {
    width: 100%;
    min-width: 320px;
    max-width: 800px;
    margin: 30px auto;
    
    border-radius: 10px;
    background: rgba(21, 20, 20, 0.8);
    box-shadow: 0px 0px 5px #504e4e;
}


/* Header */

.header {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.pic {
    min-width: 140px;
    width: 20%;
    padding: 5px;
}

.pic img {
    display: block;
    margin: 0 auto;
}

.social {
    width: 80%;
    padding: 10px;
    
    display: flex;
    flex-wrap: wrap;
}

.phone {
    margin-bottom: 10px;
}

.social-title {
    width: 100%;
}

.social-contacts {
    width: 50%;
}

.social-sites {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social-site {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #fff;
    display: block;
}

a:visited {
    color: #0a5507;
}

a:hover {
    text-decoration: underline;
}


.social-icons {
    width: 40px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #fff;
}

.social-icons:hover {
    background: #237720;
    border: 2px solid #237720;
}


/* Major */

.major {
    display: flex;
    min-width: 320px;
    padding: 10px;
}

.skills {
    min-width: 160px;
    width: 20%;
    padding: 20px;
}

ul {
    list-style-type: square;
    padding: 0;
}

ul li {
    margin-left: 10px;
}

.about {
    width: 80%;
    padding: 20px;
    
    border-left: 1px solid #fff;   
}

.about-text {
    margin: 10px 0 20px;
}

/* Media */
@media (max-width: 500px) {
    .social {
        flex-basis: 0;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .social-sites {
        justify-content: flex-start;
    }
    
    .social-title, .social-contacts {
        margin-bottom: 10px;
    }
    
    .pic img {
        margin: 10px auto;
    }
    
    .major {
        flex-wrap: wrap;
    }
    
    .skills, .about {
        width: 100%;
    }
    
    .skills {
        order: 2;
    }
    
    .about {
        order: 1;
        border-left: none;
        border-bottom: 1px solid #fff;
    }
    
    h1 {
        font-size: 30px;
    }
}